### <font color = 'white'> ISENGWE NTOZI Luc Assignment 2
### Final Project

# <font color = 'tomato'> URL1 : https://dakar-auto.com/senegal/voitures-4

### <font color = 'tomato'> Import packages

In [251]:
# import packages
import pandas as pd
from requests import get 
from bs4 import BeautifulSoup as bs

#### <font color = 'tomato'> Collect data over one page

In [252]:
# url
url = 'https://dakar-auto.com/senegal/voitures-4?&page=1'
# get the html code of the page using the get function requests
res = get(url)
# store the html code in a beautifulsoup objet with a html parser (a parser allows to easily navigate through the html code)
soup = bs(res.content, 'html.parser')
# get all containers that contains the informations of each car
containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3')
# length of containers
len(containers)

20


First, I will start with one container and scrape the data. After I generalize the scraping to the other containers by using a for loop.

In [253]:
# scrape data from a container 
container1 = containers[0]

# scrape the car brand, model and the year
info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()

# get the brand
brand = info1[0]
#print(brand)

# get the year
year= info1[-1]
#print(year)

# scrape the price
price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
#print(price)

# get adress
adress1 = container1.find('div','col-12 entry-zone-address').text.strip().split()
adress = ''
for a in adress1:
    adress = adress + a
    adress = adress + ' '
adress = adress.strip()
#print(adress)

# Scrape the kilometerage, gearbox, fuel and owner
gen_inf1  = container1.find_all('li', 'listing-card__attribute list-inline-item')
#print(gen_inf1)

#get gearbox
gearbox = gen_inf1[2].text.strip()
#print(gearbox)

# get kilometerage
kilometerage = gen_inf1[1].text.replace(' km','').strip( )
#print(kilometerage)

# get fuel 
fuel = gen_inf1[3].text.strip( )
#print(fuel)

# get owner
owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
#print(owner)

In [254]:
# scrape data from all the containers
data1 = []
for container1 in containers:
    try:
        # scrape the car brand, model and the year
        info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()

        # get the brand
        brand = info1[0]
        #print(brand)

        # get the year
        year = info1[-1]
        #print(year)

        # scrape the price
        price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
        #print(price)

        # get adress
        adress1 = container1.find('div', 'col-12 entry-zone-address').text.strip().split()
        adress = ''
        for a in adress1:
            adress = adress + a
            adress = adress + ' '
        adress = adress.strip()
        #print(adress)

        # Scrape the kilometerage, gearbox, fuel and owner
        gen_inf1 = container1.find_all('li', 'listing-card__attribute list-inline-item')
        #print(gen_inf1)

        #get gearbox
        gearbox = gen_inf1[2].text.strip()
        #print(gearbox)

        # get kilometerage
        kilometerage = gen_inf1[1].text.replace(' km', '').strip()
        #print(kilometerage)

        # get fuel 
        fuel = gen_inf1[3].text.strip()
        #print(fuel)

        # get owner
        owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
        #print(owner)

        dic1 = {
            "brand": brand,
            "year": year,
            "price": price,
            "adress": adress,
            "gearbox": gearbox,
            "kilometerage": kilometerage,
            "fuel": fuel,
            "owner": owner
        }

        data1.append(dic1)
    except:
        pass

DF1 = pd.DataFrame(data1)

In [255]:
DF1.head()

,brand,year,price,adress,gearbox,kilometerage,fuel,owner
0,Renault,2021,6,"Nord Foire, Dakar",Manuelle,50,Essence,GABYAUTO GAYE
1,Bentley,2020,18500000,"Dieuppeul Derklé, Dakar",Automatique,34000,Essence,Rose DIOMPY
2,Hyundai,2016,5450000,"Ouest Foire, Dakar",Automatique,112333,Essence,Rose DIOMPY
3,Citroen,2017,5700000,"Sicap Dieuppeul, Dakar",Automatique,120000,Diesel,Rose DIOMPY
4,Hyundai,2018,8500,"Mbour, Thiès",Automatique,165000,Essence,Ibou SARR

In [256]:
DF1.shape

(20, 8)

### <font color = 'tomato'> Collect data over multiple pages

In [257]:
def X1(n):
    # create an empty dataframe df
    df1 = pd.DataFrame()
    # loop over pages indexes
    for index in range(1, n+1):
        url = f'https://dakar-auto.com/senegal/voitures-4?&page=1{index}'

        # get the html code of the page using the get function requests
        res = get(url)
        # store the html code in a beautifulsoup object with an html parser
        soup = bs(res.content, 'html.parser')
        # get all containers that contain the information of each car
        containers = soup.find_all('div', class_='listings-cards__list-item mb-md-3 mb-3')

        # scrape data from all the containers
        data1 = []
        for container1 in containers:
            try:
                # scrape the car brand, model and the year
                info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()

                # get the brand
                brand = info1[0]

                # get the year
                year = info1[-1]

                # scrape the price
                price = "".join(container1.find(
                    'h3', "listing-card__header__price font-weight-bold text-uppercase mb-0"
                ).text.strip().split()).replace('FCFA', '')

                # get address
                adress1 = container1.find('div', 'col-12 entry-zone-address').text.strip().split()
                adress = ''
                for a in adress1:
                    adress = adress + a
                    adress = adress + ' '
                adress = adress.strip()

                # scrape kilometerage, gearbox, fuel and owner
                gen_inf1 = container1.find_all('li', 'listing-card__attribute list-inline-item')

                # get gearbox
                gearbox = gen_inf1[2].text.strip()

                # get kilometerage
                kilometerage = gen_inf1[1].text.replace(' km', '').strip()

                # get fuel 
                fuel = gen_inf1[3].text.strip()

                # get owner
                owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')

                dic1 = {
                    "brand": brand,
                    "year": year,
                    "price": price,
                    "adress": adress,
                    "gearbox": gearbox,
                    "kilometerage": kilometerage,
                    "fuel": fuel,
                    "owner": owner
                }

                data1.append(dic1)
            except:
                pass

        DF1 = pd.DataFrame(data1)
        df1 = pd.concat([df1, DF1], axis=0).reset_index(drop=True)

        # Columns that must be strings
    string_cols = ["brand", "adress", "gearbox", "fuel", "owner"]
    for col in string_cols:
        df1[col] = df1[col].astype(str)  
        df1[col] = df1[col].replace(["", " ", "nan", "None"], pd.NA)
        df1[col] = df1[col].fillna(df1[col].mode()[0])

    # Columns that must be numeric
    numeric_cols = ["year", "price", "kilometerage"]
    for col in numeric_cols:
        df1[col] = pd.to_numeric(df1[col], errors='coerce')  
        df1[col] = df1[col].fillna(df1[col].mean())
       

    # Remove duplicated rows
    df1.drop_duplicates(inplace=True)


    return df1

In [258]:
X1(2).head()

,brand,year,price,adress,gearbox,kilometerage,fuel,owner
0,Ford,2013,8900000,"Ouakam, Dakar",Automatique,116000,Essence,JN D
1,Nissan,2016,8700000,"Ouakam, Dakar",Automatique,146000,Essence,JN D
2,Chrysler,2015,3800000,"Keur Massar, Dakar",Automatique,110000,Essence,DEMBA FAYE
3,Nissan,2010,2500000,"Yeumbeul Nord, Dakar",Manuelle,132000,Essence,Cheikh Mbacké
4,Toyota,2013,3900000,"Guédiawaye, Dakar",Automatique,1,Essence,Vendeur .

# <font color = 'tomato'> URL2 : https://dakar-auto.com/senegal/motos-and-scooters-3

In [259]:
# url
url = 'https://dakar-auto.com/senegal/motos-and-scooters-3?&page=1'
# get the html code of the page using the get function requests
res = get(url)
# store the html code in a beautifulsoup objet with a html parser (a parser allows to easily navigate through the html code)
soup = bs(res.content, 'html.parser')
# get all containers that contains the informations of each car
containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3')
# length of containers
len(containers)

20

In [260]:
# scrape data from a container 
container1 = containers[0]

# scrape the car brand, model and the year
info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
#print(info1)

# get the brand
brand = info1[0]
#print(brand)

# get the year
year= info1[-1]
#print(year)

# scrape the price
price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
#print(price)

# get adress
adress1 = container1.find('div','col-12 entry-zone-address').text.strip().split()
adress = ''
for a in adress1:
    adress = adress + a
    adress = adress + ' '
adress = adress.strip()
#print(adress)

# Scrape the kilometerage, gearbox, fuel and owner
gen_inf1  = container1.find_all('li', 'listing-card__attribute list-inline-item')
#print(gen_inf1)

# get kilometerage
kilometerage = gen_inf1[1].text.replace(' km','').strip( )
#print(kilometerage)

# get owner
owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
#print(owner)

In [261]:
# scrape data from all the containers
data2 = []
for container1 in containers:
    try:
        # scrape the car brand, model and the year
        info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
        #print(info1)

        # get the brand
        brand = info1[0]
        #print(brand)

        # get the year
        year= info1[-1]
        #print(year)

        # scrape the price
        price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
        #print(price)

        # get adress
        adress1 = container1.find('div','col-12 entry-zone-address').text.strip().split()
        adress = ''
        for a in adress1:
            adress = adress + a
            adress = adress + ' '
        adress = adress.strip()
        #print(adress)

        # Scrape the kilometerage, gearbox, fuel and owner
        gen_inf1  = container1.find_all('li', 'listing-card__attribute list-inline-item')
        #print(gen_inf1)

        # get kilometerage
        kilometerage = gen_inf1[1].text.replace(' km','').strip( )
        #print(kilometerage)

        # get owner
        owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
        #print(owner)

        dic2 = {
            "brand": brand,
            "year": year,
            "price": price,
            "adress": adress,
            "kilometerage": kilometerage,
            "owner": owner
        }

        data2.append(dic2)
    except:
        pass

DF2 = pd.DataFrame(data2)

In [262]:
DF2.head()

    brand  year    price               adress kilometerage         owner
0     SYM  2023   620000      Rufisque, Dakar         1200  Lamine  Ndao
1  Yamaha  2023  4300000           VDN, Dakar            1  Rose  DIOMPY
2  Yamaha  2025   800000  Sicap Baobab, Dakar          250  Rose  DIOMPY
3   Honda  2021   810000     Cambérène, Dakar          350  Rose  DIOMPY
4     KTM  2025   220000           VDN, Dakar         6000  Malick konte

In [263]:
def X2(n1):
    # create an empty dataframe df
    df2 = pd.DataFrame()
    
    # loop over pages indexes
    for index in range(1, n1+1):
        # url
        url = f'https://dakar-auto.com/senegal/motos-and-scooters-3?&page={index}'
        # get the html code of the page using the get function requests
        res = get(url)
        # store the html code in a beautifulsoup object with a html parser
        soup = bs(res.content, 'html.parser')
        # get all containers that contain the information of each vehicle
        containers = soup.find_all('div', class_='listings-cards__list-item mb-md-3 mb-3')
      
        data2 = []
        for container1 in containers:
            try:
                # scrape the vehicle brand, model and year
                info1 = container1.find('h2', class_='listing-card__header__title mb-md-2 mb-0').text.strip().split()
                # get the brand
                brand = info1[0]
                # get the year
                year = info1[-1]
                # scrape the price
                price = "".join(container1.find('h3', class_="listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
                # get address
                adress1 = container1.find('div', class_='col-12 entry-zone-address').text.strip().split()
                adress = ''
                for a in adress1:
                    adress = adress + a + ' '
                adress = adress.strip()
                # scrape kilometerage and owner
                gen_inf1  = container1.find_all('li', class_='listing-card__attribute list-inline-item')
                # get kilometerage
                kilometerage = gen_inf1[1].text.replace(' km','').strip()
                # get owner
                owner = container1.find('p', class_='time-author m-0').text.strip().replace('Par ', '')

                dic2 = {
                    "brand": brand,
                    "year": year,
                    "price": price,
                    "adress": adress,
                    "kilometerage": kilometerage,
                    "owner": owner
                }

                data2.append(dic2)
            except:
                pass

       
        DF2 = pd.DataFrame(data2)
        df2 = pd.concat([df2, DF2], axis=0).reset_index(drop=True)

    # Columns that must be strings
    string_cols = ["brand", "adress", "owner"]
    for col in string_cols:
        df2[col] = df2[col].astype(str)  
        df2[col] = df2[col].replace(["", " ", "nan", "None"], pd.NA)
        df2[col] = df2[col].fillna(df2[col].mode()[0])

    # Columns that must be numeric
    numeric_cols = ["year", "price", "kilometerage"]
    for col in numeric_cols:
        df2[col] = pd.to_numeric(df2[col], errors='coerce')  
        df2[col] = df2[col].fillna(df2[col].mean())

    # Remove duplicated rows
    df2.drop_duplicates(inplace=True)

    return df2

In [264]:
X2(2).head()

    brand  year    price               adress  kilometerage         owner
0     SYM  2023   620000      Rufisque, Dakar          1200  Lamine  Ndao
1  Yamaha  2023  4300000           VDN, Dakar             1  Rose  DIOMPY
2  Yamaha  2025   800000  Sicap Baobab, Dakar           250  Rose  DIOMPY
3   Honda  2021   810000     Cambérène, Dakar           350  Rose  DIOMPY
4     KTM  2025   220000           VDN, Dakar          6000  Malick konte

# <font color = 'tomato'> URL3 : https://dakar-auto.com/senegal/location-de-voitures-19

In [265]:
# url
url = 'https://dakar-auto.com/senegal/location-de-voitures-19?&page=1'
# get the html code of the page using the get function requests
res = get(url)
# store the html code in a beautifulsoup objet with a html parser (a parser allows to easily navigate through the html code)
soup = bs(res.content, 'html.parser')
# get all containers that contains the informations of each car
containers = soup.find_all('div', class_ = 'listings-cards__list-item mb-md-3 mb-3')
# length of containers
len(containers)

20

In [266]:
# scrape data from a container 
container1 = containers[0]

# scrape the car brand, and the year
info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
#print(info1)

# get the brand
brand = info1[0]
#print(brand)

# get the year
year= info1[-1]
#print(year)

# scrape the price
price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
#print(price)

# get adress
adress1 = container1.find('div','col-12 entry-zone-address').text.strip().split()
adress = ''
for a in adress1:
    adress = adress + a
    adress = adress + ' '
adress = adress.strip()
#print(adress)

# get owner
owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
#print(owner)

In [267]:
# scrape data from all the containers
data3 = []
for container1 in containers:
    try:
        # scrape the car brand, and the year
        info1 = container1.find('h2', 'listing-card__header__title mb-md-2 mb-0').text.strip().split()
        #print(info1)

        # get the brand
        brand = info1[0]
        #print(brand)

        # get the year
        year= info1[-1]
        #print(year)

        # scrape the price
        price = "".join(container1.find('h3', "listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
        #print(price)

        # get adress
        adress1 = container1.find('div','col-12 entry-zone-address').text.strip().split()
        adress = ''
        for a in adress1:
            adress = adress + a
            adress = adress + ' '
        adress = adress.strip()
        #print(adress)

        # get owner
        owner = container1.find('p', 'time-author m-0').text.strip().replace('Par ', '')
        #print(owner)

        dic3 = {
            "brand": brand,
            "year": year,
            "price": price,
            "adress": adress,
            "owner": owner
        }

        data3.append(dic3)
    except:
        pass

DF2 = pd.DataFrame(data3)

In [268]:
DF2.head()

  brand  year    price             adress           owner
0  Ford  2013    30000  Guédiawaye, Dakar   TERANGUA  BII
1  Ford  2013  4500000  Guédiawaye, Dakar   TERANGUA  BII
2  Ford  2017    45000  Guédiawaye, Dakar  Mouhamed  Sene
3  Jeep  2016    60000   Cambérène, Dakar  Mouhamed  Sene
4  Ford  2014    30000      Médina, Dakar  Mouhamed  Sene

In [269]:
def X3(n2):
    # create a empty dataframe df
    df3 = pd.DataFrame()
    # loop over pages indexes
    for index in range(1, n2+1):
        # url
        url = f'https://dakar-auto.com/senegal/location-de-voitures-19?&page={index}'
        # get the html code of the page using the get function requests
        res = get(url)
        # store the html code in a beautifulsoup object with a html parser
        soup = bs(res.content, 'html.parser')
        # get all containers that contain the information of each car
        containers = soup.find_all('div', class_='listings-cards__list-item mb-md-3 mb-3')
      
        data3 = []
        for container1 in containers:
            try:
                # scrape the car brand, and the year
                info1 = container1.find('h2', class_='listing-card__header__title mb-md-2 mb-0').text.strip().split()
                # get the brand
                brand = info1[0]
                # get the year
                year = info1[-1]
                # scrape the price
                price = "".join(container1.find('h3', class_="listing-card__header__price font-weight-bold text-uppercase mb-0").text.strip().split()).replace('FCFA', '')
                # get adress
                adress1 = container1.find('div', class_='col-12 entry-zone-address').text.strip().split()
                adress = ''
                for a in adress1:
                    adress = adress + a
                    adress = adress + ' '
                adress = adress.strip()
                # get owner
                owner = container1.find('p', class_='time-author m-0').text.strip().replace('Par ', '')

                dic3 = {
                    "brand": brand,
                    "year": year,
                    "price": price,
                    "adress": adress,
                    "owner": owner
                }

                # correction : data1 → data3
                data3.append(dic3)

            except:
                pass

        DF3 = pd.DataFrame(data3)
        df3 = pd.concat([df3, DF3], axis=0).reset_index(drop=True)

    # Columns that must be strings
    string_cols = ["brand", "adress", "owner"]
    for col in string_cols:
        df3[col] = df3[col].astype(str)
        df3[col] = df3[col].replace(["", " ", "nan", "None"], pd.NA)
        df3[col] = df3[col].fillna(df3[col].mode()[0])

    # Columns that must be numeric
    numeric_cols = ["year", "price"]
    for col in numeric_cols:
        df3[col] = pd.to_numeric(df3[col], errors='coerce')
        df3[col] = df3[col].fillna(df3[col].mean())

    # Remove duplicated rows
    df3.drop_duplicates(inplace=True)

    return df3

In [270]:
X3(1).head()

  brand  year    price             adress           owner
0  Ford  2013    30000  Guédiawaye, Dakar   TERANGUA  BII
1  Ford  2013  4500000  Guédiawaye, Dakar   TERANGUA  BII
2  Ford  2017    45000  Guédiawaye, Dakar  Mouhamed  Sene
3  Jeep  2016    60000   Cambérène, Dakar  Mouhamed  Sene
4  Ford  2014    30000      Médina, Dakar  Mouhamed  Sene